<p id="notice"><%= notice %></p>

<p>
  <strong>City name:</strong>
  <%= @alert.city_name %>
</p>

<p>
  <strong>Alert time:</strong>
  <%= @alert.alert_time %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
